.sp-smart-post-blocks-settings-page {
  position: relative;
  // margin-left: -20px;
  .sp-pcp-block-settings-start-page * {
    margin: 0;
    padding: 0;
  }

  .wp-person a:focus .gravatar,
  a:focus,
  a:focus .media-icon img,
  a:focus .plugin-icon {
    box-shadow: none;
    outline: none;
  }

  .sp-pcp-blocks-settings-page-header {
    background: linear-gradient(90deg, var(--sp-smart-primary-2-600), #4608AD);

    &-body{
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      align-items: center;
      height: 68px;
      margin: 0 auto;
      padding: 0 50px;
    }

    .sp-pcp-blocks-settings-page-header-left {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        padding: 2px 8px;
        // border: 1px solid #fff;
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-radius: 40px;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .sp-pcp-blocks-settings-page-header-right {
      display: flex;
      gap: 2px;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
      padding: 12px 0;
      position: relative;

      .get-help {
        width: 72px;
      }

      &:hover {
        .sp-pcp-help-drop-down {
          display: flex;
        }
      }
    }

    .sp-pcp-help-drop-down {
      display: none;
      position: absolute;
      background: #fff;
      flex-direction: column;
      top: 40px;
      right: 0px;
      padding: 10px;
      text-align: left;
      border-radius: 4px;
      box-shadow: 0 2px 15px 0 rgba(17, 17, 17, 0.15);
      z-index: 10;
      width: 244px;
      box-sizing: border-box;

      a {
        font-size: 16px;
        font-weight: 400;
        color: #565A5F;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.3s;
        text-decoration: none;

        .drop-down-arrow {
          width: 16px;
          height: 18px;
          scale: 0.8;
          fill: #565A5F;
          margin-left: auto;
          position: relative;
          overflow: hidden;

          svg {
            position: absolute;
            top: 80%;
            left: -16px;
            transition: all 0.5s;
          }
        }

        &:hover {
          background: #efe6fb;

          .drop-down-arrow {
            svg {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    // .sp-pcp-blocks-settings-help-text-support {
    //   position: absolute;
    //   width: 350px;
    //   background: #000;
    //   right: 0;
    //   top: 45px;
    //   padding: 20px;
    //   border-radius: 8px;
    // }

    img {
      max-width: 180px;
    }
  }

  .sp-smart-post-block-settings-nev {
    // margin-left: -40px;
    padding-top: 26px;
    background: #fff;
    margin-bottom: 48px;
    border-bottom: 1px solid rgb(222, 223, 224);

    ul {
      display: flex;
      margin: 0;
      padding: 0 50px;
      max-width: 1300px;
      margin: 0 auto;
      flex-wrap: wrap;

      li {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
        position: relative;

        a {
          text-decoration: none;
          padding: 14.6px 16px;
          display: inline-block;
          color: #1E1E1E;
          border: 1px solid transparent;
          border-bottom: none;
          border-radius: 4px 4px 0 0;

          &.active {
            color: var(--sp-smart-primary-2-600);
            border-color: var(--sp-smart-primary-2-600);
            background-color: #f0f0f1;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 2px;
              background-color: #f0f0f1;
            }
          }
        }
      }
    }
  }

  .sp-pcp-blocks-setting-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

    .sp-pcp-blocks-setting-blocks-page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .sp-pcp-blocks-setting-blocks-page h3:first-child {
      margin-top: -4px;
    }

    .sp-pcp-blocks-setting-title {
      grid-column: 1/4;
      margin-top: 10px;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: -15px;
    }

    .sp-pcp-blocks-setting-title.sp-smart-carousel-title {
      margin-top: 0;
    }

    .sp-pcp-blocks-settings-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 17px;
      border-radius: 6px;
      box-shadow: 0 1px 2px 0 hsla(0,0%,7%,.2);

      &-icon,
      &-docs ul,
      &-info {
        display: flex;
        align-items: center;
      }

      &-docs ul li a svg path,
      &-docs ul li a{
        transition: all .3s;
      }

      &-docs ul li a:hover,
      &-docs ul li a:hover svg path {
        color: var(--sp-smart-primary-2-400);
        stroke: var(--sp-smart-primary-2-400);
      }

      &-icon {
        width: 32px;
        height: 32px;
        border: 2px solid var(--sp-smart-primary-2-100);
        padding: 6px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-docs {
        margin-left: 10px;

        li,
        h4,
        ul {
          margin: 0;
          padding: 0;
        }

        h4 {
          font-size: 16px;
          color: #1E1E1E;
          font-weight: 600;
          line-height: 20px;
          // margin-bottom: 6px;
        }

        ul {
          display: flex;
          gap: 10px;
        }

        ul li a {
          text-decoration: none;
          color: #757575;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          gap: 5px;
          line-height: 20px;
          align-items: center;
        }

        ul li a:focus {
          box-shadow: none;
        }
      }

      .sp-pcp-blocks-settings-toggle-btn {
        @extend %reactToggle;
      }
    }

    .sp-pcp-blocks-setting-modules-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .sp-pcp-blocks-settings-card {
          padding: 26px 20px 20px;
          position: relative;
          border-radius: 12px;
        }
        

        .sp-pcp-blocks-settings-card-info,
        .sp-pcp-blocks-settings-card.setup-wizard {
            align-items: center;
        }

        .sp-pcp-blocks-settings-card-info,
        .sp-pcp-blocks-settings-card {
            align-items: start;
        }
        .sp-pcp-blocks-settings-card-icon{
          border: none;
          &.sp-taxonomy {
            background: linear-gradient(135deg, #3662B2 0%, #13D2C4 100%);
          }
          &.sp-shortcode {
            // background: linear-gradient(90deg, #B53361 0%, #E2572C 65.02%);
            background: var(--sp-smart-primary-2-600);
          }
          &.sp-website-builder {
            background: linear-gradient(135deg, #97ABFF 0%, #123597 100%);
          }
          &.sp-starter-sites {
            background: linear-gradient(138deg, #E707FA 0%, #A106F4 94.66%);
          }
          &.sp-template-library {
            background: linear-gradient(90deg, #AB4CFE 0%, #7317FE 100%);
          }
          &.sp-saved-template {
            background: linear-gradient(90deg, #00AFFF 0%, #2974FF 100%);
          }
          &.sp-dynamic-datafield {
            background: linear-gradient(135deg, #F761A1 0%, #8C1BAB 100%);
          }
          &.sp-front-post-submission {
            background: linear-gradient(137deg, #FFBD29 1.99%, #FF2DB6 98.01%);
          }
          &.sp-reading-scroll-progress {
            background: linear-gradient(135deg, #3B2667 0%, #BC78EC 100%);
          }
          &.sp-post-badges {
            background: linear-gradient(135deg, #FF96F9 0%, #C32BAC 100%);
          }
          &.sp-featured-video {
            background: linear-gradient(135deg, #374691 0%, #2160DF 100%);
          }
          &.sp-image-gallery {
            background: linear-gradient(180deg, #920523 0%, #A61937 25%, #BA2D4B 50%, #CE415F 75%, #E25573 100%);
          }
          &.sp-back-to-top {
            width: 44px;
            height: 44px;
            background: linear-gradient(315deg, #79E9F1 0%, #0E5CAD 100%);
            box-sizing: border-box;
            svg {
              padding: 10px 7px;
              border: 2px solid #FFF;
              border-radius: 50%;
            }
          }
          &.sp-chat_gpt {
            box-sizing: border-box;
            width: 44px;
            height: 44px;
            background: #10A37F;
          }
          &.sp-deep_seek {
            box-sizing: border-box;
            width: 44px;
            height: 44px;
            padding: 0;
          }
        }
        .sp-pcp-blocks-settings-card-info {
          h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-transform: capitalize;
            margin-bottom: 10px;
          }
          span {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #5D5D5D;
            margin-bottom: 7px;
            display: inline-block;
          }
          ul {
            // border-top: 1px solid #ccc;
            padding-top: 9px;

            li a {
              border: 1px solid #ECEDF0;
              padding: 3px 11px;
              background: #FBFCFF;
              border-radius: 4px;
              transition: all 0.3s linear;

              &:hover {
                background: #641DD7;
                border-color: #641DD7;
                color: #fff;
                path {
                  stroke: #fff;
                }
              }
            }
          }
        }
    }
  }

  .sp-pcp-blocks-setting-wrapper .sp-smart-post-modules-wizard .sp-pcp-blocks-settings-card {
    padding: 19px 20px;
  }

  // Pro badge.
  .sp-pcp-pro-card {
    position: relative;

    .sp-pcp-blocks-settings-toggle-btn {
      // opacity: 0.5;
      pointer-events: none;
    }

    .sp-pcp-pro-blocks-badge {
      align-items: center;
      background: #E5F7EC;
      border-radius: 20px;
      color: #4AB866;
      display: flex;
      font-size: 10px;
      font-weight: 600;
      gap: 4px;
      overflow: hidden;
      padding: 0 0px;
      position: absolute;
      right: 4px;
      top: 4px;
      transition: width .3s ease;
      width: 18px;
      height: 18px;
      border: 1px solid #93DCAC;
      text-transform: uppercase;
      line-height: 1.6;
      box-sizing: border-box;
      svg {
        transform: translate(2.3px, -0.5px);
      }
      & * {
        flex-shrink: 0;
      }
  }

    &:hover .sp-pcp-pro-blocks-badge {
      width: 43px;
    }
  }

  .sp-pcp-blocks-settings-card-title {
    display: flex;
    gap: 8px;
    margin-bottom: 2px;

    .sp-pcp-pro-blocks-badge {
      position: relative;
      top: 0;
      left: 0;
      width: 14.5px;
    }
  }

  .setup-wizard {
    .sp-pcp-blocks-settings-card {
      border-radius: 12px;
      border: 1px solid #ddd;
      box-shadow: none;

      .sp-pcp-blocks-settings-card-docs,
      .sp-pcp-blocks-settings-card-title {
        h4 {
          font-weight: 500;
        }
      }
    }
    .sp-pcp-pro-blocks-badge {
      width: 43px;
    }
  }
  

  .sp-pcp-blocks-settings-card.setup-wizard .sp-pcp-blocks-settings-card-info {
    align-items: center;
    h4 {
      margin-bottom: 0;
    }
  }
  .sp-pcp-blocks-settings-card.setup-wizard .sp-pcp-blocks-settings-toggle-btn {
    justify-content: center;
    width: 50px;
    align-items: end;
  }

  // Start page design.
  .sp-pcp-block-settings-start-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-footer {
      margin-top: 50px;
      align-self: center;
      text-align: center;
      color: #6E6A69;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;

      span {
        display: flex;
        margin-bottom: 8px;

        a {
          text-decoration: none;
          color: #6E6A69;
          margin: 0 4px;
          transition: all .3s linear;
        }

        a:hover {
          color: var(--sp-smart-primary-2-600);
        }

        svg {
          margin: 0 5px;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;

        li a svg {
          fill: #6E6A69;
          transition: all .3s linear;
        }

        li a:hover svg {
          fill: var(--sp-smart-primary-2-600);
        }
      }
    }
  }

  .sp-pcp-block-settings-start-page-wrapper {
    display: flex;
    gap: 40px;

    .sp-pcp-video-section {
      padding: 40px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 hsla(0,0%,7%,.2);
      width: 65%;
      // flex-shrink: 0;
      &-text {
        h3 {
          font-size: 28px;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 20px;
        }

        span {
          font-size: 15px;
          font-weight: 400;
          display: block;
          margin-bottom: 20px;
        }
      }

      &-video {
        overflow: hidden;
        border-radius: 8px;

        position: relative;
        width: 100%;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      &-btn {
        ul {
          display: flex;
          gap: 18px;
          margin-top: 36px;

          li {
            display: inline-flex;

            a {
              text-decoration: none;
              font-size: 16px;
              font-weight: 600;
              padding: 17px 24px;
              border-radius: 4px;
              border: 1px solid transparent;
              transition: all .3s linear;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;
            }
          }

          li:nth-child(1) a {
            color: #fff;
            // background-color: #F15D32;
            background-color: var(--sp-smart-primary-2-600);
          }
          
          li:nth-child(1) a:hover {
            // background-color: #d4512a;
            background-color: var(--sp-smart-primary-2-700);
          }

          // li:nth-child(2) a {
          //   // color: #F15D32;
          //   // border-color: #F15D32;
          //   color: var(--sp-smart-primary-2-600);
          //   border-color: var(--sp-smart-primary-2-600);
          // }

          // li:nth-child(2) a:hover {
          //   color: #fff;
          //   background-color: var(--sp-smart-primary-2-600);
          //   border-color: transparent;
          // }

          li:nth-child(2) a {
            display: flex;
            color: #949494;
            border-color: #949494;

            svg {
              fill: #949494;
              transition: all .3s linear;
            }
          }

          li:nth-child(2) a:hover {
            color: #fff;
            background-color: var(--sp-smart-primary-2-600);
            border-color: var(--sp-smart-primary-2-600);

            svg {
              fill: #fff;
            }
          }
        }
      }

      .sp-pcp-video-section-video {
        iframe {
          border: 0;
        }
      }
    }

    .sp-pcp-sidebar-section {
      width: 35%;
      // flex-shrink: 0;
      .sp-pcp-sidebar-box {
        background-color: #fff;
        border-radius: 4px;
        padding: 30px;
        box-shadow: 0 1px 2px 0 hsla(0,0%,7%,.2);
        max-width: 380px;

        &-title {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          h4 {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            margin-left: 10px;
          }
        }

        &-text {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 24px;
        }

        &-btn {
          text-decoration: none;
          border: 1px solid #949494;
          padding: 10px 16px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
          color: #949494;
          border-radius: 3px;
          display: inline-block;
          transition: all .3s linear;
        }

        &-btn:hover {
          background-color: var(--sp-smart-primary-2-600);
          color: #fff;
          border-color: var(--sp-smart-primary-2-600);
        }
      }

      .sp-pcp-sidebar-box:not(:first-child) {
        margin-top: 40px;
      }
    }
  }

  .sp-pcp-change-log-notice-icon {
    display: flex;
    padding: 0 !important;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

// Change log popup design.
body.show-change-log {
  position: relative;
  overflow: hidden;
}

body.show-change-log::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
  opacity: 0;
  transition: all .3s linear;
  visibility: hidden;
  z-index: 20;
}

body.show-change-log::after {
  opacity: .8;
  visibility: visible;
}

.sp-pcp-change-log {
  position: fixed;
  width: 350px;
  height: 100%;
  right: -350px;
  background: #fff;
  z-index: 99;
  overflow-y: auto;
  font-size: 20px;
  transition: all .3s;
  box-shadow: 0 1px 2px 0 hsla(0,0%,7%,.2);
}

.show-change-log .sp-pcp-change-log {
  right: 0;
}

.sp-smart-changelog-details {
  padding: 0px 15px 50px 15px;
}

.sp-smart-changelog-details ul {
  font-size: 13px;
  list-style: disc;

  li {
    margin-bottom: 5px;
    margin-left: 18px;

  }
}

.sp-pcp-change-log-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9;
  box-shadow: 0 1px 2px 0 hsla(0,0%,7%,.2);

  h4 {
    margin: 0;
  }
}

.sp-pcp-change-log-close {
  cursor: pointer;
  svg path {
    fill: currentColor;
  }
}

.sp-smart-changelog-details .markdown-body>p,
.sp-smart-changelog-details>p {
  font-size: 16px;
  margin: 20px 0px;
}

@media screen and (max-width: 1199px) {
  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-blocks-page {
    grid-template-columns: repeat(2, 1fr);
  }
  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-modules-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-title {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 1023px) {
  .sp-smart-post-blocks-settings-page .sp-pcp-block-settings-start-page-wrapper {
    flex-direction: column;

    .sp-pcp-sidebar-section,
    .sp-pcp-video-section {
      width: auto;
    }
    .sp-pcp-sidebar-section {
      margin: auto;
    }
  }
  .sp-pcp-blocks-setting-saved-template-content-table-wrapper {
    overflow-x: auto;
    .sp-pcp-blocks-setting-saved-template-content-table {
      width: 1200px;
    }
  }
}

@media screen and (max-width: 765px) {
  .sp-smart-post-blocks-settings-page .sp-pcp-block-settings-start-page-wrapper .sp-pcp-video-section {
    padding: 25px 15px;
  }
  .sp-smart-post-blocks-settings-page .sp-pcp-block-settings-start-page-wrapper .sp-pcp-video-section-btn ul {
    flex-direction: column;
  }
  .sp-smart-post-blocks-settings-page .sp-pcp-block-settings-start-page-wrapper .sp-pcp-video-section-btn ul li a {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-blocks-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-modules-page {
    grid-template-columns: repeat(1, 1fr);
  }

  .sp-smart-post-blocks-settings-page .sp-pcp-blocks-setting-wrapper .sp-pcp-blocks-setting-title {
    grid-column: 1 / 2;
  }
}

.sp-pcp-blocks-setting-builder-page {
  background-color: #FFF;

  .sp-pcp-builder-dashboard {
    .sp-pcp-builder-dashboard__content {
      &.sp-pcp-builder-tab {
        display: grid;
        grid-template-columns: 220px 1fr;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        width: 100%;

        .sp-pcp-builder-tab-option {
          width: 220px;
          min-height: 100vh;

          ul .sp-pcp-tab-sub-option {
            border-top: 1px solid #E0E0E0;
          }

          ul .sp-pcp-tab-sub-option li {
            padding-left: 40px;

            &.active {
              border-radius: 0;
            }
          }

          ul {
            margin: 0;
            padding: 0;
          }

          ul li {
            display: flex;
            // justify-content: space-between;
            gap: 8px;
            align-items: center;
            border-top: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
            background: #F0F0F0;
            color: #2F2F2F;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 153.846%;
            cursor: pointer;
            margin: 0;
            padding: 12px 14px;
            box-sizing: border-box;
            border-left: 3px solid transparent;

            &.active {
              background: #FFF;
              border-left: 3px solid var(--sp-smart-primary-2-600);
              border-right: 0;
              border-radius: 0;
              color: var(--sp-smart-primary-2-600);
            }

            &:first-child {
              border-radius: 4px 0 0 0;
              border-top: 0;
            }
          }

          ul {
            li.child-tab {
              max-height: 0;
              overflow: hidden;
              opacity: 0;
              transition: all 0.4s ease;
              padding: 0;
              pointer-events: none;
              border: none;

            }

            li.archive.open-submenu~li.child-tab {
              max-height: 50px;
              opacity: 1;
              pointer-events: auto;
              padding: 12px 14px 12px 40px;
              border-top: 1px solid #E0E0E0;
              border-right: 1px solid #E0E0E0;
              border-left: 3px solid transparent;
            }

            li.archive.open-submenu~li.child-tab.active {
              border-left: 3px solid var(--sp-smart-primary-2-600);
            }

            li.archive {
              position: relative;
            }

            li.archive .submenu-arrow {
              position: absolute;
              right: 14px;
              display: flex;
            }

            li.archive.open-submenu .submenu-arrow {
              rotate: 0deg;
              transition: 0.3s ease-in-out;
            }

            li.archive .submenu-arrow {
              rotate: -90deg;
              transition: 0.3s ease-in-out;
            }
          }
        }

        .sp-pcp-builder-tab-content {
          display: flex;
          padding: 32px 24px;
          flex-direction: column;
          gap: 24px;
          align-self: stretch;

          .sp-pcp-builder-tab__heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 24px 10px 20px;
              gap: 8px;
              color: #FFF;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              /* 175% */
              border: 0;
              border-radius: 4px;
              background: var(--sp-smart-primary-2-600);
              cursor: pointer;
            }
          }

          .sp-pcp-builder-tab__heading h3 {
            color: #2F2F2F;
           
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 116.667%;
            margin: 0;

            a {
              display: flex;
              align-items: center;
              color: #2F2F2F;
             
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              /* 116.667% */
              text-decoration: none;
              cursor: pointer;
            }
          }

          .sp-pcp-builder-tab__content-items-* {
            display: none;

            &.active {
              display: block;
            }
          }

          // .sp-pcp-builder-tab__content-items-home {
          //  display: none;
          //   &.active {
          //     display: block;
          //   }
          // }
        }
      }
    }
  }
}

.sp-pcp-template-list-tab {
  .sp-pcp-builder-items {
    display: grid;
    gap: 24px;
    // min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);

    // &.grid-columns-3 {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    // &.grid-columns-2 {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    .sp-pcp-list-item {
      &.sp-pcp-pre-made-item {
        display: flex;
        min-width: 284px;
        min-height: 320px;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        background: #FFF;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
        height: 100%;

        .list-item-heading {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 12px 16px;
          box-sizing: border-box;

          .list-info {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-self: stretch;
           
            font-style: normal;
            text-transform: capitalize;

            .list-info-title {
              color: #1E1E1E;
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              /* 125% */
            }

            .list-info-description {
              color: #757575;
              font-size: 13px;
              font-weight: 500;
              line-height: 120%;
              /* 15.6px */
              margin-top: 4px;
            }
          }

          .list-icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 8px;

            .list-icon-favourite {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 24px;
              height: 24px;
              border: 1px solid #F0F0F0;
              border-radius: 50%;
              background: #FFF;
              box-shadow: 1px 1px 5px 1px rgba(76, 189, 246, 0.10);
              cursor: pointer;
            }

            .list-icon-crown {
              display: flex;
              width: 24px;
              height: 24px;
              justify-content: center;
              align-items: center;
              background-color: #F2930D;
              border-radius: 4px;
              cursor: pointer;
            }

          }
        }

        .list-overlay {
          display: flex;
          padding: 0px 16px 12px;
          align-items: flex-start;
          align-content: flex-start;
          gap: 10px;
          flex: 1 0 0;
          align-self: stretch;
          flex-wrap: wrap;
          position: relative;

          img {
            width: 100%;
            max-width: 100%;
            object-fit: fill;
          }

          .list-overlay-img-box {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            border: 1px solid var(--sp-smart-primary-2-600);
            background-color: var(--sp-smart-primary-2-50);

            button {
              border: none;
            }
          }

          .sp-pcp-white-overlay {
            position: absolute;
            width: calc(100% - 32px);
            height: calc(100% - 12px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #2F2F2F;
           
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            /* 142.857% */
            text-transform: capitalize;
            gap: 4px;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            svg {
              width: 36px;
              height: 36px;
              font-size: 20px;
              color: var(--sp-smart-primary-2-600);
            }

            &:has(.sp-pcp-overlay-preview):hover {
              background-color: rgba(0, 0, 0, 0.40);
            }
          }

          .sp-pcp-overlay-preview {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            border: 1px solid var(--sp-smart-primary-2-600);
            background: var(--sp-smart-primary-2-600);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            svg {
              width: 20px;
              height: 20px;
            }
          }

          &:hover .sp-pcp-overlay-preview {
            opacity: 1;
            visibility: visible;
          }
        }

        .sp-pcp-gutenberg-edit {
          padding: 0 16px 12px;
          width: 100%;
          box-sizing: border-box;

          .sp-pcp-gutenberg-edit-content {
            button.gutenberg-edit-btn {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #4AB866;
              border: none;
              border-radius: 4px;
              color: #FFF;
             
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px;
              /* 142.857% */
              padding: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .sp-pcp-builder-list-footer {
    margin-top: 36px;

    .sp-pcp-footer-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .sp-pcp-builder-pagination {
        display: flex;
        flex-direction: row;
        gap: 8px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          border: 1px solid #2F2F2F;
          background: transparent;
          cursor: pointer;

          &.sp-pcp-builder-pagination-btn {
            padding: 4px 12px;
            color: #2F2F2F;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;

            /* 142.857% */
            &.active {
              color: #fff;
              background-color: #2F2F2F;
            }
          }

          &.sp-pcp-builder-pagination-btn-left,
          &.sp-pcp-builder-pagination-btn-right {
            padding: 4px 3px;
            border: 1px solid #2F2F2F;

            svg path {
              stroke: #2F2F2F;
            }
          }
        }
      }
    }
  }
}

.sp-pcp-builder-list-wrapper {
  ul {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #FCD8CF;
    background: #FFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);

    li {
      display: flex;
      align-items: center;
      align-self: stretch;
      gap: 16px;
      padding: 14px 24px;
      margin: 0;

      &.list-heading {
        background: #FEE8E1;

        .sp-pcp-font-list-heading {
         
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          /* 125% */
          text-transform: capitalize;
        }
      }

      &.list-content:nth-of-type(odd) {
        background: #FDF7F7;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #2F2F2F;
       
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
      }

      span.sp-pcp-checkbox {
        width: 20px;
        height: 20px;
        margin: 0;
      }

      span.sp-pcp-checkbox input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin: 0;
        border-color: #2F2F2F;

        // box-shadow: 0 0 2px 0 #2f2f2fff;
        &::before {
          width: 1.5125rem;
        }
      }

      span.sp-pcp-list-title {
        width: 25%;
      }

      span.sp-pcp-list-id {
        width: 14%;
      }

      span.sp-pcp-list-type {
        width: 17%;
        text-transform: capitalize;
      }

      span.sp-pcp-list-status {
        width: 10%;
        @extend %reactToggle;
      }

      span.sp-pcp-list-assign {
        width: 12%;

        button.sp-pcp-list-assign-condition-btn {
          color: var(--sp-smart-primary-2-600);
          background-color: transparent;
          border: 1px solid var(--sp-smart-primary-2-600);
          border-radius: 4px;
          padding: 6px 12px;
         
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          /* 142.857% */
          text-transform: capitalize;
          cursor: pointer;
        }
      }

      span.sp-pcp-list-action {
        width: 12%;
        display: flex;
        gap: 10px;

        span {
          cursor: pointer;
          padding: 2px;
        }
      }

      span.sp-pcp-list-font-family {
        width: 15%;
      }

      span.sp-pcp-list-preview {
        width: 38%;
      }

      span.sp-pcp-list-file-type {
        width: 25%;
      }

      span.sp-pcp-list-date {
        width: 15%;
      }

      &.sp-pcp-no-data {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2F2F2F;
       
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 120% */
      }

    }
  }
}

body.modal-open {
  overflow: auto;
  max-width: 100vw;
  position: relative;

  .components-modal__screen-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 100000;
    display: flex;

    .sp-pcp-builder-conditional-modal {
      max-width: 960px;
      min-width: 360px;
      width: 45%;
      max-height: 580px;
      height: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      padding: 80px 120px;
      border-radius: 4px;

      .components-modal__content,
      .popover-wrapper,
      .popover-container {
        height: 100%;
      }

      .components-modal__header+div {
        height: 90%;
      }

      .components-modal__header {
        button.components-button {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -45px;
          top: 0;
          border-radius: 50%;
          border-style: none;
          width: 40px;
          height: 40px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          svg path {
            fill: var(--sp-smart-primary-2-600);
          }

          &:hover {
            background-color: var(--sp-smart-primary-2-600);

            svg path {
              fill: #fff;
            }
          }
        }
      }

      .popover-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .popover-content {
          display: flex;
          flex-direction: column;
          gap: 40px;

          .popover-heading {
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
           
            font-style: normal;

            .popover-title {
              color: #2F2F2F;
              font-size: 32px;
              font-weight: 600;
              line-height: 120%;
            }

            .popover-sub-title {
              color: #757575;
              font-size: 16px;
              font-weight: 400;
              line-height: 120%;
              /* 19.2px */
            }
          }

          .popover-main {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .popover-all-conditions {
              .popover-condition-list ul {
                li {
                  display: flex;
                  justify-content: center;
                }

                li .condition-list.condition {
                  display: flex;
                  flex-direction: row;
                  max-width: 750px;
                  width: 100%;
                  gap: 8px;

                  .include-exclude select {
                    width: 120px;
                  }

                  .site-page-condition {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    select {
                      display: flex;
                      max-width: 100%;
                      width: 100%;
                    }
                  }

                  .condition-remove {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                      width: 20px;
                      height: 20px;
                      cursor: pointer;

                      path {
                        stroke-width: 2;
                      }

                      &:hover path {
                        stroke: var(--sp-smart-primary-2-600);
                      }
                    }
                  }
                }
              }

            }

            .popover-add-condition-btn {
              display: flex;
              align-items: center;
              justify-content: center;

              .add-condition-btn {
                display: flex;
                padding: 10px 24px 10px 20px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                background-color: #FFF;
                border-radius: 4px;
                border: 1px solid, var(--sp-smart-primary-2-600);
                cursor: pointer;

                .btn-text {
                  color: var(--sp-smart-primary-2-600);
                 
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 28px;
                  /* 175% */
                  text-transform: capitalize;
                }

                .btn-svg-icon {
                  svg path {
                    fill: var(--sp-smart-primary-2-600);
                  }
                }
              }
            }
          }
        }

        .popover-save-conditions-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--sp-smart-primary-2-600);
          padding: 10px 24px;
          color: #FFF;
         
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          /* 175% */
          border-radius: 4px;
          border: 1px solid var(--sp-smart-primary-2-600);
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.sp-pcp-custom-select {
  position: relative;
  height: max-content;

  select {
    padding: 6px 40px 6px 12px;
    border-radius: 4px;
    height: 48px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    color: #2F2F2F;
   
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    text-transform: capitalize;
  }

  .sp-pcp-dropdown-arrow {
    position: absolute;
    display: flex;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #fff;
    align-items: center;
    font-size: 12px;
    color: #666;
    pointer-events: none;
    cursor: pointer;
    z-index: 999;
  }
}

.sp-pcp-builder-filter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .sp-pcp-filter-dropdown {
    display: flex;
    flex-direction: row;
    column-gap: 8px;

    .sp-pcp-custom-select {
      select {
        height: 36px;
      }
    }

    .sp-pcp-custom-search {
      input[type=search] {
        height: 36px;
        width: 260px;
      }
    }
  }

  .sp-pcp-grid-btn-popular {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .sp-pcp-grid-btn {
      display: flex;
      flex-direction: row;
      gap: 12px;

      .sp-pcp-grid-icon {
        display: flex;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid #DDD;
        background: transparent;
        cursor: pointer;

        &.grid-three {
          background-color: var(--sp-smart-primary-2-600);
        }
      }
    }

    .sp-pcp-divider {
      font-size: 36px;
      line-height: 36px;
      font-weight: 100;
      color: #ECEDF0;
      align-self: stretch;
      overflow: hidden;
    }

    .sp-pcp-popular {
      position: relative;

      .sp-pcp-popular-icon svg {
        display: flex;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        path {
          stroke-width: 0.78571;
        }
      }

      .sp-pcp-popular-count {
        position: absolute;
        top: -12px;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        padding: 4px;
        background: var(--sp-smart-primary-2-600);
        color: #fff;
        border-radius: 50%;
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
}

.sp-pcp-blocks-settings-header-area-top {
  text-align: center;
  background-color: #3D9E56;
  padding: 12px 0;
  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    .sp-pcp-blocks-slogan-icon {
      margin-right: 8px;
    }
  }
  a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
  svg {
    width: 16px;
    height: 18px;
    margin-bottom: -2px;
    path {
      fill: #fff;
    }
  }
}
.sp-disabled,
.sp-disabled .a {
  // opacity: 0.75;
  cursor: auto;
  user-select: none;
  pointer-events: none;
}
.spf-tooltip {
    position: absolute;
    z-index: 5000001;
    text-align: left;
    text-decoration: none;
    max-width: 250px;
    background-color: rgba(12, 25, 36, 1);
    border-radius: 4px;
    padding: 14px 20px;
    color: #94b2c1;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

.spf-open-docs.browser-docs {
  background-color: #1d81f9;
  border-radius: 2px;
  &:hover {
    background-color: #226DE5;
  }
}

.sp-smart-post-blocks-settings-page .sp-pcp-blocks-settings-card-docs .sp-pcp-blocks-settings-card-ai-settings {
  display: flex !important;
  line-height: 1 !important;
  margin-bottom: 0 !important;
  margin-left: 130px;
  cursor: pointer;
}

.sp-pcp-blocks-settings-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  .components-modal__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background-color: #fff;
    padding: 48px;
    border-radius: 4px;

    .components-modal__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .components-modal__header-heading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
      }

      .components-modal__icon-container {
        width: 24px;
        height: 24px;
        svg {
          width: 24px;
          height: 24px;
          fill: var(--sp-smart-primary-2-600);
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #222;
        border-radius: 50%;
        transition: border-color 0.3s, fill 0.3s;

        &:hover {
          border-color: #f03;
          svg {
            fill: #f03;
          }
        }
      }
    }
    .sp-pcp-blocks-settings-form {
      display: flex;
      flex-direction: row;
      column-gap: 42px;
      font-size: 16px;
      line-height: 1.2;
      align-items: center;

      .sp-pcp-blocks-settings-label {
        font-size: 22px;
       
      }

      input {
        width: 380px;
        font-size: 18px;
        padding: 2px 4px;
        border: 1px solid var(--sp-smart-primary-2-400);
        border-radius: 4px;
      }
      input:focus {
        outline: none;
      }
    }
  }
  
  .sp-pcp-blocks-settings-popup-setup {
    width: 500px;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sp-pcp-blocks-settings-body-content {
    .sp-pcp-blocks-settings-form-save {
      margin-top: 32px;
      
      .sp-pcp-blocks-settings-form-save-btn {
        padding: 8px 16px;
        color: var(--sp-smart-primary-2-600);
        background-color: transparent;
        border: 1px solid var(--sp-smart-primary-2-600);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: var(--sp-smart-primary-2-600);
          color: #fff;
        }
      }
    }
  }
}
.sp-pcp-blocks-settings-toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 102%;

  .sp-smart-post-sidebar-popup-toggle {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.sp-pcp-blocks-setting-blocks-page .sp-pcp-blocks-settings-toggle-btn {
  justify-content: center;
}

