/* column static styles */
.sp-smart-post-container-column {
	position: relative;
	width: 100%;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;
	overflow: visible;
}

.sp-smart-post-container-column .sp-smart-post-show-column,
.sp-smart-post-container-column .sp-smart-post-column-wrapper {
	position: relative;
	height: 100%;
}

.sp-smart-post-container-column .sp-smart-post-column-block-wrapper-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background-color: transparent;
	opacity: 0;
}

.sp-smart-post-container-column .sp-smart-post-column-block-wrapper-link:focus {
	outline: none;
}

.sp-icon-divider .sp-social-profile-icon-divider {
	display: inline-block;
}

.sp-icon-divider-none .sp-social-profile-icon-divider {
	display: none;
}
.components-resizable-box__handle-right {
	margin-left: 20px;
}